.modal {
    position: relative;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color:#f3f3f3;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   border-radius: 10px;
}
.form {
    display: flex;
}
.title{
    text-align: center;
    color: #ff303A;
}
.btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}
.submitbtn {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    height: 40px;
    border-radius: 3px;
}
@media screen and (max-width: 960px) {
    .form{
        display: block;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}