
.view {
    height: auto;
    background-color: #f3f3f360;
     box-shadow: 3px 0px 2px 0px rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 0px 10px 10px 10px;
    border: none;
}
.image {
    height: 300px;
    width: 400px;
    padding: 5px;
    border-radius: 10px;
}
.myArrow {
    height: 100%;
    width: 50px;
    border: none;
    background-color: #b6b5b580;
}
.row {
    display: flex;
    width: 95vw;
    /* background-color: aqua; */
    justify-content: space-between;
    margin: auto;
    /* padding: auto; */
}
.containRecipies {
    width: 70vw;
}
.review {
    width: 23vw;
    padding-top: -50px;
}
.recipiesTitle{
    padding: 0;
    margin: 0;
    color: #FF0000;
}
@media screen and (max-width: 800px) {
    .containRecipies {
        margin-left: 0px;
        width: 95vw;
    }
    .review {
        width: 95vw;
        padding-top: -50px;
    }
    .row {
        display: block;
        margin: auto;
        /* padding: auto; */
    }
}
.btn {
    padding: 10px 20px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f3f3f360;
    /* box-shadow: 3px -2px 2px 0px rgba(0, 0, 0, 0.8); */
}
.btn:active {
    box-shadow: 3px -2px 4px 0px rgba(0, 0, 0, 0.8);
}
.btn:focus {
    box-shadow: 3px -2px 2px 0px rgba(0, 0, 0, 0.8);
}
.btn_text {
    padding: 0;
    margin: 0;
    text-shadow: 3px 2px #00000010;
    color: #D4303A;
}